// default color scheme
$ubuntu_base_color: #ffffff;
$ubuntu_bg_color: #f2f1f0;
$ubuntu_fg_color: #4c4c4c;
$ubuntu_selected_bg_color: #f07746;
$ubuntu_selected_fg_color: #ffffff;
$ubuntu_text_color: #3C3C3C;
$ubuntu_tooltip_bg_color: #000000;
$ubuntu_tooltip_fg_color: #ffffff;

/* widgets main borders color (originally "borders") */
$ubuntu_borders_color: darken($ubuntu_bg_color, 0.82);

$ubuntu_headerbar_color: #252525;

$ubuntu_suggested_action_bg_color: #38b44a;
$ubuntu_destructive_action_bg_color: red;
